/* Basic reset */
body, h2, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/5894379.jpg');
    background-size: cover; 
    }
    * Styling for the login container */
.login-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(241, 237, 237, 0.928);
    padding: 40px;
    width: 300px;
}

/* Styling for the form */
.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Styling for the form headings and labels */
.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.login-form label {
    margin-bottom: 5px;
    color: #333;
}

/* Styling for the input fields */
.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Styling for the button */
.login-form button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}
*{ 
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Times New Roman', Times, serif;
    
}
form{
 justify-content: center;
 box-shadow: 0 0 0 1.0px;
}